<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta name="viewport" />
    <title>@ViewData["Title"] - DancingSchool</title>
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
